/* ---Navbar--- */

.navbar-light {
    background: linear-gradient(120deg, #4d534f 0%, #000000 100%);
}


.navbar-toggler {
    background: #131616 !important;
    border: 1px solid #060707 !important;
}

.navbar-brand {
    color: #059179  !important;
}

.nav-link {
    color: #fff !important;
}

.active {
    color: #059179 !important;
}

a {
    text-decoration: none;
    color: white;
 
}

body {
    background: linear-gradient(120deg, #4d534f 0%, #000000 100%);
    font-family: 'Roboto', sans-serif;
}

.card {
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 20px;
}

.card:hover {
    transform: translateY(-15px);
    transition: transform .3s;
}

.text1 {
    font-size: 18px;
    color: #000;
}

.info {
    line-height: 17px;
}

.book {
    background: #00cdac;
}

.cursor {
    cursor: pointer;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}


.num2 {
    background: linear-gradient(120deg, #4d534f 0%, #059179  100%);
    background-size: 6px, auto, contain;
    margin-top: 320px;
    margin-bottom: -150px;
}


h3{
    font-size: 29px;
    color: linear-gradient(120deg, #4d534f 0%, #000000  100%) ;
    margin-top: 20px;
    text-align: center;
  }